.sign-in-button {
  margin-left: 30px;
  width: 200px;
}

html, body{
  height: 100%;
}

.wrapper {
  background: rgb(215, 215, 245);
  height: 100%;
  display: flex;
  
}

.sign-in-wrapper{
  position: relative;
  display: flex;
  height: auto;
  margin-top: 20%;
  margin-left: 120px;
  flex-direction: column;
}

.sign-up-button {
  
  width: 150px;
  margin-left: 10px;
}

.CampusLink{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica, Arial, sans-serif';
  font-size: 23px;
  font-weight: bold;
  height: auto;
}

.CampusLink2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica, Arial, sans-serif';
  font-size: 40px;
  height: auto;
}

.CampusLink3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica, Arial, sans-serif';
}

.img-wrapper{
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
}



