.sign-in-button {
  /* margin-left: 30px; */
  width: 200px;
  border: none;
  background-color: white;
}

.sign-in-wrapper {
  /* background: rgb(215, 215, 245); */
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  
}

.sign-in-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items:center;
  flex-direction: column;
  width: 56vw; 
}

.CampusLink{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica, Arial, sans-serif';
  font-size: 23px;
  font-weight: bold;
  height: auto;
}

.CampusLink2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica, Arial, sans-serif';
  font-size: 40px;
  height: auto;
}

.CampusLink3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica, Arial, sans-serif';
}

.img-wrapper{
  display: flex;
  height: 100%;
  width: 44vw;

}

.email-input{
  width: 20rem;
  padding: 10px;
  color: #9796f0;
  margin: 5px;
}

