/* стилі для меню */
.bm-menu {
    background-color: #373a47; /* колір фону */
    padding: 2.5em 1.5em 0; /* відступи */
    font-size: 1.15em; /* розмір шрифту */
  }
  
  /* стилі для пунктів меню */
.bm-menu .menu-item {
    display: inline-block;
    margin-bottom: 10px;
    color: #b8b7ad;
    text-decoration: none;
    text-transform: uppercase;
}
  
  /* стилі для бургер-іконки */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 20px;
    top: 20px;
}
  
  /* стилі для ліній бургер-іконки */
.bm-burger-bars {
    background: #b8b7ad;
}
  
  /* стилі для перевернутої бургер-іконки при відкритті меню */
.bm-cross-button {
    height: 24px;
    width: 24px;
}
  
  /* стилі для ліній перевернутої бургер-іконки */
.bm-cross {
    background: #b8b7ad;
}
  