.profile-container {
  position: relative;
  background-color: #DFCCBF;
  min-height: 100vh;
  height: max-content;
  font-family: Inter;
  padding-bottom: 0;
}

.profileHeader {
  display: grid;
  justify-content: center;
  background-image: url("../../assets/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  background-position: bottom;
  padding: 0 2rem;
  padding-top: 3rem;
}

.title {
  cursor: pointer;
  color: black;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
}

.profilelink {
  text-decoration: none;
}

.content {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr auto;
  justify-content: center;
  padding: 0 2rem;
  gap: 1.5rem;
  margin: -1.5rem auto 0;
}

.userInfo {
  display: grid;
  gap: 1.5rem;
  margin: 0 auto;
  justify-content: center;
  z-index: 10;
}

.contentInfo {
  display: flex ;
  flex-direction: column;
  gap: 5rem;
  z-index: 10;
  margin-left: 150px;
  margin-top: 10px;
}

.profileIcon {
  width: 13rem;
  justify-self: center;
}

.contentItem, 
.contentInfoSecond {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 18.75rem;
}

.humanIcon {
  width: 5rem;

}

.knowledgeIcon {
  width: 8rem;
}

.bookIcon {
 margin-left: 70px;
}

.bottomLeftSection {
  max-width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.bottomRightSection {
  position: absolute;
  right: 0;
  bottom: 0;
}
.buttonsave {
  padding: 0.75rem 1rem;
  background-color: #FDEFE0;
  border: solid 0.125rem rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  min-width: 18.75rem;
  height: 3.25rem;
  outline: none;
  font-size: 1.25rem;
  line-height: 1.438rem;
  font-weight: 400;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 976px) {
  .root {
    padding-bottom: 3rem;
  }

  .content {
    justify-content: space-between;
    flex-direction: column;
  }

}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .contentInfo {
    gap: 1.5rem;
  }

  .contentItem {
    flex-direction: column-reverse;
    width: 18.75rem;
  }

  .contentInfoSecond {
    flex-direction: column;
  }

  .bottomRightSection {
    display: none;
  }
}

.profile_image_box {
  width: 10px;
}

.profile_image{
  width: 20rem;
  height: 15rem;
  border-width: 3px;
  object-fit: contain;
  
}
.profile_image:hover{
  cursor: pointer;
  text-decoration: none;
  color: none;
}

.save_effect {
  padding: 0.75rem 1rem;
  background-color: #AD8B66;
  border: solid 0.125rem rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  min-width: 18.75rem;
  height: 3.25rem;
  outline: none;
  font-size: 1.25rem;
  line-height: 1.438rem;
  font-weight: 400;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.photo_input {
  padding: 0.75rem 1rem;
  background-color: #FDEFE0;
  border: solid 0.125rem rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  min-width: 19.95rem;
  height: 5.25rem;
  outline: none;
  font-size: 1.25rem;
  line-height: 1.438rem;
  font-weight: 400;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.input {
  background-color: #eee;
  color: #333;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 21px;
}