.CarouselMenu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.items_slide{
    object-fit: contain;
    max-height: 80vh;
}

.about_style{
    font-style: italic;
    color: rgb(84, 84, 84);
    font-weight: 500;
}