body {

    margin: 0;
	padding: 0;
    background-color: #554f4a;
}


.profile_but {

    background-color: #7E7369; 
    color: white; 
     
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 

}
  
.profile_but img {

    width: 55px; /* ширина изображения */
    height: 55px; /* высота изображения */
    margin-right: 10px; /* отступ справа от изображения */

}

.profile{

    position: relative;
    width: 1512px;
    height: 982px;

    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.profile_center{
    
    position: absolute;
    width: 1182px;
    height: 982px;
    left: 164px;
    top: 0px;

    background: #726962;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.profile_logo{

    position: absolute;
    width: 183px;
    height: 38px;
    left: 499px;
    top: 48px;

    background: none;
    border: none;
    
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    
    color: #FFFFFF;
    
}

.profile_ring{

    position: absolute;
    width: 60px;
    height: 60px;
    left: 1110px;
    top: 37px;
    
}

.profile_avatar{
    
    position: absolute;
    width: 293px;
    height: 273px;
    left: 40px;
    top: 247px;

    
}

.profile_name {
    
    position: absolute;
    width: 244px;
    height: 47px;
    left: 64px;
    top: 164px;

}

.profile_subjects{

    position: absolute;
    width: 198px;
    height: 273px;
    left: 717px;
    top: 331px;

}

.profile_change{

    position: absolute;
    width: 212px;
    height: 50px;
    left: 84px;
    top: 552px;


background: none;
border: none;
    
}

.profile_about{

    position: absolute;
    width: 250px;
    height: 107px;
    left: 61px;
    top: 635px;


}

.profile_themes{

    position: absolute;
    width: 131px;
    height: 274px;
    left: 955px;
    top: 331px;

}

.profile_people{

    position: absolute;
    width: 50px;
    height: 279px;
    left: 1106px;
    top: 326px;

}



  