*{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #756b61;
    padding: 20px 20px;
    width: 100%;
    height: 1920px;
}
.button_logo{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border: 0.5px solid white;
    padding: 10px 20px;
    border-radius: 21px;
    left: 42%;
    top: 37px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.header_search {
    position: absolute;
    left: 101px;
    top: 27px;
}

.header_menu {
    position: absolute;
    left: 0.08%;
    right: 96.1%;
    top: 3.90%;
    bottom: 91.22%;
}

.header_profile {
    position: absolute;
    
    left: 95%;
    top: 30px;
}

.header_messenger {
    position: absolute;
    
    left: 90%;
    top: 37px;
}

@media screen and (max-width: 768px) {
    
    .header_center {
        width: 100%;
        left: 0;
    }

    .header_logo {
        width: 150px;
        height: 30px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 28px;
        line-height: 30px;
    }

    .header_search {
        display: none;
    }

    .header_menu, .header_profile, .header_messenger {
        display: none;
    }
}

