*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.header{
display: flex;
flex-direction: column;
background-color: #756b61;
padding: 20px 20px;
width: 100%;
height: 100vh;
justify-content: flex-start;

}

.button_logo{
padding: 5px 20px;
background-color: rgba(255, 255, 255, 0);
border: 0.5px solid white;
border-radius: 21px;
font-family: 'Aleo';
font-style: normal;
font-size: 32px;
line-height: 38px;
color: #FFFFFF;
}

.header_profile {
display: flex;
padding: 10px 0px 10px 0px;
margin-right: auto;
margin-left: 10px;
}

.header_messenger {
display: flex;
}

/* ---------------- Navbar and burger menu ------------------ */
nav {
width: 100%;
height: 5em;
background-color: rgb(100, 91, 82);
display: flex;
align-items: center;
padding: 1em;
border-radius: 10px;
flex-direction: row;
justify-content: space-between;
margin-bottom: 30px;
}

.button_subjects{
    display: flex;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid white;
    border-radius: 21px;
    font-family: 'Aleo';
    font-style:inherit;
    font-size: 26px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
}

.subject_name{
    text-decoration: underline;
}

.right-item{
    display: flex;
    flex-direction: row;
}

.left-item{
    display: flex;
    flex-direction: row;
}

body{
    height: 100vh;
}

#root{
    height: 100%;
}


