*{
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #756b61;
  padding: 20px 20px;
  width: 100%;
  height: 1920px;
}

.button_logo{
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  border: 0.5px solid white;
  padding: 10px 20px;
  border-radius: 21px;
  left: 42%;
  top: 37px;
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.header_search {
  position: absolute;
  left: 101px;
  top: 27px;
}

.header_menu {
  position: absolute;
  left: 0.08%;
  right: 96.1%;
  top: 3.90%;
  bottom: 91.22%;
}

.header_profile {
  position: absolute;
  
  left: 95%;
  top: 30px;
}

.header_messenger {
  position: absolute;
  
  left: 90%;
  top: 37px;
}

@media screen and (max-width: 768px) {
  
  .header_center {
      width: 100%;
      left: 0;
  }

  .header_logo {
      width: 150px;
      height: 30px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 28px;
      line-height: 30px;
  }

  .header_search {
      display: none;
  }

  .header_menu, .header_profile, .header_messenger {
      display: none;
  }
}

.bm-menu {
  background-color: #373a47; /* колір фону */
  padding: 2.5em 1.5em 0; /* відступи */
  font-size: 1.15em; /* розмір шрифту */
}

/* стилі для пунктів меню */
.bm-menu .menu-item {
  display: inline-block;
  margin-bottom: 10px;
  color: #b8b7ad;
  text-decoration: none;
  text-transform: uppercase;
}

/* стилі для бургер-іконки */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

/* стилі для ліній бургер-іконки */
.bm-burger-bars {
  background: #b8b7ad;
}

/* стилі для перевернутої бургер-іконки при відкритті меню */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* стилі для ліній перевернутої бургер-іконки */
.bm-cross {
  background: #b8b7ad;
}




/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.Carousel{
  position: absolute;

  width: 1046px;
  height: 200px;

  top: 157px;
  left: 8%;
  
}

